body{
  font-family: sans-serif;;
}
header{

}
 h1 {
  background-color: orange;
}
.inputContainer{
  background-color: pink;
}
.container {
  background-color: lightblue;
  display:block;
  border:1px solid black;
}
.container .done{
  background-color: lightgreen;

}
.deleteButton{
  margin-top: 0;

  float: right;
}
.checkbox .textToDom{
vertical-align: middle;}
