body{
  font-family: sans-serif;;
}
header{

}
 h1 {
  background-color: orange;
}
.inputContainer{
  background-color: pink;
}
.container {
  background-color: lightblue;
  display:block;
  border:1px solid black;
  height: 100px;
}
.checkBox.textToDom.deleteButton{
  width: 25%;
    height: 75px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing:border-box;}
.container.checkBox{
  float: left;
}
.container.textToDom{
  float:left;
  display: block;
font-size: 99px;
}
.deleteButton{
  margin-top: 0;

  float: right;
}
